body {
	font-family: Roboto;
	background: #2BC0E4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

td, th {
  background: white;
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
  width: 200px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}

h1 {
  text-align: center;
  padding-top: 20px;
}
